<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NhaKhoa.Properties.Settings.DENTALConnectionString"
            connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=DENTAL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NhaKhoa.Properties.Settings.DENTALConnectionString1"
            connectionString="Data Source=DESKTOP-TQLN938\BGIAVAN;Initial Catalog=DENTAL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>